<div class="galleryDeleteForm gallery">
  <% if (photos && photos.length > 0) { %>
    <% photos.forEach((photo, index) => { %>
      <div class="gallery_col">
        <div class="input-group">
          <input name="photoIds" value="<%= photo._id.toString() %>" type="checkbox" id="checkbox<%= index %>" class="checkboxDeleteForm" />
          <label for="checkbox<%= index %>">
            <img src="/<%= photoBasePath %>/<%= photo.filename %>" alt="<%= photo.name %>" class="imgDeleteForm" loading="lazy" />
          </label>
        </div>
      </div>
    <% }); %>
  <% } else { %>
    <p>No photos found.</p>
  <% } %>
</div>