<div class="row mt-2">
  <select name="galleryId" class="form-select form-select-sm m-3" id="gallerySelect">
    <% galleries.forEach((gallery) => { %>
      <option value="<%= gallery._id.toString() %>" id="galleryOption"><%= gallery.name %></option>
    <% }); %>
  </select>
</div>
<!-- doesn't work as should right now -->
<div id="photoSortableContainer" <% if (galleries.length === 0) { %>style="display: none;"<% } %>>
  <% galleries.forEach((gallery) => { %>
    <% gallery.photos.forEach((galleryPhoto) => { %>
      <% photos.forEach((photo)=>{ %>
      <div class="galleryDiv">
        <div class="input-group">
          <img src="/<%= photoBasePath %>/<%= photo.filename %>" alt="<%= photos.name %>" class="imgUpdateForm" />
        </div>
      </div>
      <% }) %>
    <% }); %>
  <% }); %>

</div>
<input type="hidden" name="_method" value="PUT">