<div class="row mt-2">
  <input type="hidden" name="_method" value="PUT">
  <select  class="form-select form-select-sm m-3" name="galleryId">
    <% galleries.forEach((gallery) => { %>
      <option value="<%= gallery._id.toString() %>"><%= gallery.name %></option>
    <% }); %>
  </select>
</div>
<div class="galleryUpdateForm">
  <% if (photos && photos.length > 0) { %>
    <% photos.forEach((photo, index) => { %>
        <div class="galleryDiv">
          <div class="input-group">
            <input name="photoIds" value="<%= photo._id.toString() %>" type="checkbox" id="checkboxUpdate<%= index %>" class="checkboxUpdateForm"/>
            <label for="checkboxUpdate<%= index %>">
              <img src="/<%= photoBasePath %>/<%= photo.filename %>" alt="<%= photo.name %>" class="imgUpdateForm" />
            </label>
          </div>
        </div>
    <% }); %>
  <% } %>
</div>