<header>
    <%- include('./admin_header.ejs') %>
</header>
<section class="dashboard mt-5">
    <div class="container uploadDelete_container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center"> 
                <div class="d-flex flex-column upload_form">
                    <form method="POST" action="/admin/dashboard/upload" id="uploadForm" enctype="multipart/form-data">
                        <%- include('./_upload_form.ejs') %> 
                        <div class="row mt-auto ">
                            <div class="col ">
                                <div class="d-flex justify-content-end ">
                                    <button class="btn btn-danger me-2" type="button" id="cancelButton">Cancel</button>
                                    <button class="btn btn-success" type="submit" >Upload</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>   
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div class="delete_form mt-4 mt-md-0 d-flex">
                    <form action="/admin/dashboard/delete?_method=DELETE" method="delete" id="deleteForm">
                            <%- include('./_delete_form.ejs') %>
                        <div class="row mt-3">
                            <div class="col-12 btn_col d-flex justify-content-end">
                                <button type="reset" class="btn btn-danger me-2">Cancel</button>
                                <button class="btn btn-success " type="submit">Delete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 d-flex justify-content-center">
        <div class="row">
            <div class="col">
              <div class="update_form mb-2">
                <form action="/admin/dashboard/update" method="post" id="updateForm">
                    <%- include('./_update_form.ejs') %>
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-end">
                            <button class="btn btn-danger me-2" type="reset">Cancel</button>
                            <button class="btn btn-success me-2" type="submit">Save</button>
                        </div>
                    </div>
                </form>
              </div>
            </div>
        </div>
    </div>
</section>
<!-- gallery slideshow preview.. todo:stylization masonry -->
<section class="showgallery my-5">
  <div class="container container-showgallery">
    <nav class="navbar navbar-light  justify-content-center">
      <ul class="nav">
        <% galleries.forEach((gallery, galleryIndex) => { %>
          <li class="nav-item">
            <a class="nav-link" href="#galleryPreview" data-bs-slide-to="<%= galleryIndex %>"><%= gallery.name %></a>
          </li>
        <% }); %>
      </ul>
    </nav>
    <div class="row">
      <div class="col">
        <div id="galleryPreview" class="carousel slide" data-bs-ride="false">
          <div class="carousel-inner">
            <% galleries.forEach((gallery, galleryIndex) => { %>
              <div class="carousel-item <%= (galleryIndex === 0) ? 'active' : '' %>">
                <div class="galleryDiv">
                  <div class="input-group">
                    <% gallery.photos.forEach((photo) => { %>
                      <img src="/<%= photoBasePath %>/<%= photo.filename %>" alt="<%= photo.name %>" class="imgUpdateForm" />
                    <% }); %>
                  </div>
                </div>
              </div>
            <% }); %>
          </div>
          <a class="carousel-control-prev" href="#galleryPreview" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#galleryPreview" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
