<% gallery.photos.forEach((photo) => { %>
    <div class="gallery_col m-2">
        <a href="/<%= photoBasePath %>/<%= photo.filename %>" data-lightbox="mygallery">
          <img src="/<%= photoBasePath %>/<%= photo.filename %>" alt="<%= photo.name %>" class="gallery_item">
        </a>
    </div>
<% }) %>

<div class="grid_sizer"></div>